.aboutImg {
    border-radius: 10px;
    width: calc(100% - 40px);
    max-height: 223px;
    opacity: 70%;
    object-fit: cover;

}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media (max-width: 768px) {
    .dropdown-div {
        gap: 20px;
    }

    .about-div {
        padding-bottom: 19px;
    }
}